.emons{
    &Content{
        &__groupGraphs{ 
            width: 100%;
            height: 100%;

            &Satisfaction{
                width: 70%;
                height: 100%;

                &Data{
                    width: 100% !important;
                    height: 600px !important;
                }
            }
        }
    }
}