.emons{
    &Content{
        &__home{
            width: 100%;
            margin: 20px 0px;

            &Welcome{
                background-color: $color-violet-soft;
                border-radius: 10px;
                padding: 25px;
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: space-between;
                margin-top: 20px;
                color: $color-white;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

                &Info{
                    & h3 {
                        font-size: 22px;
                        margin: 0px;
                    }

                    & p{
                        font-size: 14px;
                        margin: 0px;
                        margin-top: 10px;
                    }
                }
            }

            &Satisfaction{
                display: flex;
                flex-direction: column;
                margin: 30px 0px;

                & p {
                    margin: 0px;
                    margin-bottom: 10px;
                    font-weight: 600;
                }

                &Graphs{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    height: 230px;

                    &Data{
                        width: 80%;
                        // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                        // border-radius: 10px;
                        // background: #BACDF7;
                        // padding: 10px;

                        &Canvas{
                            
                        }
                    }
                    
                    &Average{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 15%;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                        border-radius: 10px;
                        padding: 10px;

                        & img {
                            width: 50px;
                        }

                        & p {
                            text-align: center;
                            margin-top: 10px;
                            font-size: 15px;
                        }

                        & h3{
                            margin: 0px;
                            margin-top: 10px;
                            font-weight: 600;
                        }

                        & h2{
                            margin: 0px;
                            margin-top: 10px;
                            font-weight: 700;
                            font-size: 35px;
                            color: $color-darkViolet;
                        }
                    }
                }
            }

            &Graphs{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 40px;
                
                &Satisfaction{
                    display: flex;
                    flex-direction: column;
                    width: 70%;

                    & p {
                        margin: 0px;
                        margin-bottom: 10px;
                        font-weight: 600; 
                    }
                    
                    &Data{
                        width: 100% !important;
                        height: 300px !important;
                    }
                }

                &Balance{
                    display: flex;
                    flex-direction: column;
                    width: 20%;

                    & p {
                        margin: 0px;
                        margin-bottom: 10px;
                        font-weight: 600; 
                    }

                    &Data{

                        img {
                            margin-top: 25px;
                        }
                    }
                }
            }

            &News{
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                &Notifications{
                    display: flex;
                    flex-direction: column;
                    width: 80%;

                    &Title{
                        margin: 0px;
                        margin-bottom: 10px;
                        font-weight: 600;
                    }

                    &Block{
                        display: flex;
                        flex-direction: row;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                        border-radius: 10px;
                        align-items: center;
                        padding: 15px;
                        margin-bottom: 10px;

                        &Text{
                            margin: 0px 15px;
                        }

                        & img {
                            width: 50px;
                        }

                        & h3 {
                            font-size: 16px;
                            margin: 0px;
                        }

                        & p {
                            margin: 0px;
                            margin-top: 5px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}