// Color Vars
$color-violet: #544CB8;
$color-violet-soft: #857FCD;
$color-darkViolet: #5048AF;
$color-white: #FFFFFF;
//
$color-green: #339933;
$color-red: #D23A3A;
$color-gold: #E6CF00;
$color-gray: #C4C4C4;
$color-lightGray: #FAFAFA;
$color-darkGray: #494949;