@import url("https://fonts.googleapis.com/css2?family=Itim&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
html {
  min-height: 100%;
  font-family: 'Nunito', sans-serif;
  color: #424242;
}

body {
  margin: 0px;
  background-color: #FFFFFF;
}

.emons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
}

.emonsContent {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
  margin-left: 15%;
}

.emonsContent__infoBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  border-bottom: 1px solid #D2D2D2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.emonsContent__infoBar p {
  font-weight: 600;
  font-size: 16px;
  margin: 0px;
}

.emonsContent__infoBarProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.emonsContent__infoBarProfilePhoto {
  width: 35px;
  height: 35px;
  margin-left: 10px;
}

.emonsContent__infoBarProfileNotifications {
  width: 30px;
  height: 30px;
}

.emonsContent__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  text-align: center;
}

.emonsContent__titleStatus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.emonsContent__titleStatus a {
  font-weight: 600;
  text-decoration: none;
  color: #494949;
}

.emonsContent__titleStatus a:hover {
  text-decoration: underline;
  -webkit-transition: -webkit-text-decoration 1s;
  transition: -webkit-text-decoration 1s;
  transition: text-decoration 1s;
  transition: text-decoration 1s, -webkit-text-decoration 1s;
}

.emonsContent__titleStatus img {
  margin-left: 10px;
}

.emonsContent__titleStatusVar {
  margin-left: 10px;
  font-weight: 400;
}

.nav {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5048AF;
  -webkit-box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  height: 100%;
}

.navLogo {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #FFFFFF;
}

.navLogo p {
  font-family: 'Itim', sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: #FFFFFF;
  margin: 15px 0px;
}

.navList {
  width: 80%;
  margin-top: 10px;
}

.navList__admin {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 0px;
}

.navList__admin p {
  color: #A4A4A4;
  font-size: 10px;
  font-weight: 500;
  margin: 0px;
}

.navList__adminOptions {
  margin: 0px;
  margin-top: 5px;
}

.navList__adminOptions ul {
  list-style: none;
  padding-left: 15px;
  margin: 5px 0px;
}

.navList__adminOptions ul a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 200;
  font-size: 14px;
}

.navList__adminOptions ul a li {
  margin-top: 10px;
}

.navList__adminOptions ul a li:hover {
  font-weight: 600;
  font-size: 14px;
  margin-left: 10px;
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
}

.navList__adminOptions--selected li {
  font-weight: 600;
  font-size: 14px;
  margin-left: 10px;
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
}

.navList__support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 15px 0px;
}

.navList__support p {
  color: #A4A4A4;
  font-size: 10px;
  font-weight: 500;
  margin: 0px;
}

.navList__supportOptions {
  margin: 0px;
  margin-top: 5px;
}

.navList__supportOptions ul {
  list-style: none;
  padding-left: 15px;
  margin: 5px 0px;
}

.navList__supportOptions ul a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 14px;
}

.navList__supportOptions ul a li {
  margin-top: 10px;
}

.navList__supportOptions ul a li:hover {
  font-weight: 600;
  font-size: 14px;
  margin-left: 10px;
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
}

.emonsContent__home {
  width: 100%;
  margin: 20px 0px;
}

.emonsContent__homeWelcome {
  background-color: #857FCD;
  border-radius: 10px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.emonsContent__homeWelcomeInfo h3 {
  font-size: 22px;
  margin: 0px;
}

.emonsContent__homeWelcomeInfo p {
  font-size: 14px;
  margin: 0px;
  margin-top: 10px;
}

.emonsContent__homeSatisfaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px 0px;
}

.emonsContent__homeSatisfaction p {
  margin: 0px;
  margin-bottom: 10px;
  font-weight: 600;
}

.emonsContent__homeSatisfactionGraphs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 230px;
}

.emonsContent__homeSatisfactionGraphsData {
  width: 80%;
}

.emonsContent__homeSatisfactionGraphsAverage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 10px;
}

.emonsContent__homeSatisfactionGraphsAverage:hover {
  cursor: pointer;
  background-color: #BACDF7;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.emonsContent__homeSatisfactionGraphsAverage img {
  width: 50px;
}

.emonsContent__homeSatisfactionGraphsAverage p {
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
}

.emonsContent__homeSatisfactionGraphsAverage h3 {
  margin: 0px;
  margin-top: 10px;
  font-weight: 600;
}

.emonsContent__homeSatisfactionGraphsAverage h2 {
  margin: 0px;
  margin-top: 10px;
  font-weight: 700;
  font-size: 35px;
  color: #5048AF;
}

.emonsContent__homeGraphs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.emonsContent__homeGraphsSatisfaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
}

.emonsContent__homeGraphsSatisfaction p {
  margin: 0px;
  margin-bottom: 10px;
  font-weight: 600;
}

.emonsContent__homeGraphsSatisfactionData {
  width: 100% !important;
  height: 300px !important;
}

.emonsContent__homeGraphsBalance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
}

.emonsContent__homeGraphsBalance p {
  margin: 0px;
  margin-bottom: 10px;
  font-weight: 600;
}

.emonsContent__homeGraphsBalanceData img {
  margin-top: 25px;
}

.emonsContent__homeNews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.emonsContent__homeNewsNotifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

.emonsContent__homeNewsNotificationsTitle {
  margin: 0px;
  margin-bottom: 10px;
  font-weight: 600;
}

.emonsContent__homeNewsNotificationsBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  margin-bottom: 10px;
}

.emonsContent__homeNewsNotificationsBlockText {
  margin: 0px 15px;
}

.emonsContent__homeNewsNotificationsBlock img {
  width: 50px;
}

.emonsContent__homeNewsNotificationsBlock h3 {
  font-size: 16px;
  margin: 0px;
}

.emonsContent__homeNewsNotificationsBlock p {
  margin: 0px;
  margin-top: 5px;
  font-size: 14px;
}

.btn {
  width: 200px;
  height: 40px;
  background-color: #5048AF;
  color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.btn--small {
  width: 150px;
  font-size: 12px;
}

.emonsContent__groupGraphs {
  width: 100%;
  height: 100%;
}

.emonsContent__groupGraphsSatisfaction {
  width: 100%;
  height: 100%;
}

.emonsContent__groupGraphsSatisfactionOptions {
  margin: 10px 0px;
}

.emonsContent__groupGraphsSatisfactionData {
  margin-top: 10px;
  width: 100% !important;
  height: 520px !important;
}

.emonsContent__groupGraphsSatisfactionCheckboxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.emonsContent__groupGraphsSatisfactionCardAverages {
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inputRadio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.inputRadio label {
  margin-left: 8px;
}

.feedback__title p {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0;
}

.feedback__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback__listItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback__listItem p {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.feedback__listItem--hidden {
  display: none;
}

.feedback__listItemCard {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #FFFFFF;
  border-radius: 10px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding: 10px 25px;
  margin-bottom: 15px;
}

.feedback__listItemCard img {
  width: 4%;
}

.feedback__listItemCardText {
  margin-left: 20px;
}

.feedback__listItemCardText h3 {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
}

.feedback__listItemCardText p {
  font-size: 14px;
  margin: 0;
  margin-top: 5px;
}
/*# sourceMappingURL=index.css.map */